* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Barlow', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
}

.container .section + .section {
  margin-top: 24px;
}

.btn {
  display: inline-block;
  padding: 12px 32px;
  border-radius: 4px;
  border: 1px solid black;
  background-color: transparent;
  font-size: 16px;
  line-height: 1.5;
  color: black;
  text-decoration: none;
}

.btn-primary {
  background-color: white;
  border-color: white;
}

.section {
  padding: 48px 24px;
  text-align: center;
  background-color: #fafafa;
}

.section.cfp {
  background-color: black;
  background-image: url(/assets/background.png);
  background-size: cover;
  color: white;
  grid-area: 1/1/2/3;
}

.section.survey {
  grid-area: 2/1/3/2;
}

.section.sponsor {
  grid-area: 2/2/3/3;
}

h1, h2 {
  font-family: Playfair;
  font-weight: 700;
  margin: 0;
}

.footnote {
  font-size: 12px;
  color: #999;
}

header {
  display: flex;
  padding: 16px 0;
}

header .logo {
  flex: 1;
  padding-right: 24px;
}

header p {
  margin: 0;
  align-self: center;
}

footer {
  display: flex;
  padding: 24px 0;
}

.nav.social {
  flex: 1;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
}

nav li + li {
  margin-left: 24px;
}

nav a {
  text-decoration: none;
  color: black;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 24px;
  font-weight: 400;
}

@media (min-width: 800px) {  
  h1 {
    font-size: 60px;
  }

  h2 {
    font-size: 32px;
  }

  .section {
    padding: 80px;
  }

  .container .section + .section {
    margin-top: unset;
  }

  .container main {
    display:  grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-template-rows: repeat(2, 1fr); 
    grid-column-gap: 24px;
    grid-row-gap: 24px;
  }
}
